
.grid-item :hover {
    background-color: #ffffffee;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%
}

.color {
    background-color: aqua;
}

.pyro-backround {
    background-image: url(./images/pyro-background.jpg);
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.hydro-backround {
    background-image: url('./images/hydro-background.png');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.cryo-backround {
    background-image: url('./images/cryo-background.jpg');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.electro-backround {
    background-image: url('./images/electro-background.jpg');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.geo-backround {
    background-image: url('./images/geo-background.jpg');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.dendro-backround {
    background-image: url('./images/dendro-background.png');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.anemo-backround {
    background-image: url('./images/anemo-background.jpg');
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: auto;
    border: 2px solid black;
    overflow: auto;
}

.info-title {

    color: white;
    width: auto;
}

.info-body {
    color: rgb(255, 255, 255);
    background-color: rgba(83, 83, 83, 0);
    height: auto;

}

.wrapper {
    position: relative;
    width: 50%;
}

.info-body img {
    height: 63px;
    width: auto;
    color: rgb(255, 255, 255);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1;
    right: 1;
    height: 100%;
    width: 73%;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
    background-color: #ffffffbb;
}

.wrapper:hover .overlay {
    opacity: .5;
}

.hidden {
    display: none;
}

.line {
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: auto;
}

.img-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.align-center {
    text-align: center;

}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.element-icon {
    margin-top: 4px;
}

.data-background {
    overflow: hidden;
    filter:blur(5px);
    position: fixed;
    height: 110%;
    width: 110%;
    margin-left: -130px;
    margin-top: -10px
}



